@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');



/* NAVBAR & MENU */

.navbar {
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
  position: sticky;
  background-color: white;
}

.navbar img {
  width: 300px;
  position: center;

}

.menu {
  display: flex;
  flex-direction: inline;
  justify-content: space-around;
  background-color: white;
  color: black;
  text-decoration: none;

}

.menu a {
   color: black;
  text-decoration: none;

}


.menu li {
  display: flex;
  flex-direction: inline;
  justify-content: center;
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
  font-weight: lighter;
  color: black;
  text-decoration: none;

}

.menu ul:hover {
 font-weight: 500;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: #f2bf27;
  text-decoration: none;
}

.menu ul {
  justify-content: center;
   color: black;
  text-decoration: none;

}

@media(max-width: 500px) {
.menu ul {
font-size: 12px;
}
}



/* BODY STYLE */

.main-container {
  margin-top: 200px;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #172601;
}

body h2 {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  color: black;
}
@media(max-width: 800px) {
 body h2 {
  font-size: 60px;
}
}

@media(max-width: 500px) {
#up H2{
  display: none;
}
}

h4 {
  color: #172601;
  font-size: 17px;
}

.divider  {
   height: 150px;
}

.divider-black  {
  background-color: black;
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}


/* SECTION BANNER */

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-image: linear-gradient(rgba(36, 70, 4, 0.4) 50%,rgba(238, 185, 10, 0.3) 80%), url("https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.banner h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;

}

p {
  font-weight:lighter;
}

p mark {
  background-color: #f2bf2783;
  text-decoration: none;
  color: black;
}

p a {
  text-decoration: none;
  color: black;
}

p a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  margin-bottom: 15px;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* SECTIONS ABOUT */

.founder {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  width: 80%;
  font-weight: lighter;
  margin-left: 70px;
  align-items: center;
  text-align: justify;
}

@media(max-width: 575px) {
 .description  {
  margin: 5px;
  width: auto;

}
}


.signature {
  font-family: 'Mr De Haviland', cursive;
  font-size: 25px;
  align-items: right !important;
  text-align: right !important;
}

.photo-emd {
  display: flex;
}

.photo-emd img {
  width: 180px;
}

@media(max-width: 575px) {
.photo-emd {
justify-content: center;
}
}

.hashtag {
font-size: 30px;
font-weight: lighter;
color: white;

}


.about h1 {
  padding: 30px 0 8px;
  position: relative;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.about h1::before {
  content: "";
  position: absolute;
  text-align: center;
  left: 28%;
  bottom: 5px;
  width: 200px;
  height: 20px;
  transform: skew(-2deg) translateX(100%);
  background: #f2bf27ad;
  z-index: -1;
}

/* SECTION SERVICES */

.service h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
  color: #172601;
}

#down h2 {
display: none;
}

@media(max-width: 575px) {
 #down h2  {
display: contents;
 }
}

#strategy {
/* display: block;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 100px;
    padding: 30px 40px 50px;
    float: none; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.5px solid #000;
    border-radius: 40px;
    background-color: #f2bf27;
    text-align: left;
    cursor: auto;
    padding-top: 20px;
    margin: 5px;
    list-style-type: none;
    text-align: center;
    font-weight: lighter;
    min-width: 200px;


}

#strategy h3 {
  font-size: 20px;

}

#strategy h3 mark {
  background-color: white;
  font-size: 18px;
}

#strategy ul {
  margin-left: -35px;
  margin-top: 30px;
}

#com {
/* display: block;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 100px;
    padding: 30px 40px 50px;
    float: none; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.5px solid #000;
    border-radius: 40px;
    text-align: left;
    cursor: auto;
    padding-top: 10px;
    margin: 5px;
    list-style-type: none;
    text-align: center;
    font-weight: lighter;

}

#com h3 mark {
  background-color: #f2bf27;
  font-size: 18px;

}

#com ul {
  margin-left: -35px;
  padding-top: 10px;
}


#consulting{

/* display: block;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 100px;
    padding: 30px 40px 50px;
    float: none; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.5px solid #000;
    border-radius: 40px;
    background-color: #f2bf27;
    text-align: left;
    cursor: auto;
    padding-top: 10px;
    margin: 5px;
    list-style-type: none;
    text-align: center;
    font-weight: lighter;
}


#consulting h3 mark {
  background-color: white;
  font-size: 20px;
}

#consulting ul {
  margin-left: -35px;
  padding-top: 10px;
}


#webdev {
/* display: block;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 100px;
    padding: 30px 40px 50px;
    float: none; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.5px solid #000;
    border-radius: 40px;
    text-align: left;
    cursor: auto;
    padding-top: 10px;
    margin: 5px;
    list-style-type: none;
    text-align: center;
    font-weight: lighter;
    min-width: 200px;

}

#webdev h3 mark {
  background-color: #f2bf27;
  font-size: 18px;

}

#webdev ul {
  margin-left: -35px;
  padding-top: 10px;
}


/* SKILLS*/

.skills img {
  height: 50px;
}

.legend {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}

.logo img {
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}



/* CARD PORTFOLIO */

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  box-shadow: 0 0 60px rgba(0,0,0,0.7);
  transform: scale(1.2);
}



.card-category h6 {
  display: none;
  background-color: black;
  font-weight: lighter;
  font-size: 10px;
  padding: 5px;

}

.card-category:hover h6 {
  display: block;
  text-align: center;
  text-decoration: none;
}


.card-category:hover a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.card-category:hover h3 {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 16px;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }
}

/* FOOTER */


.footer {
  background-color: black;
  color: white;
  list-style: none;
  padding: 20px 20px 20px 20px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer h3 {
  color: black;
}

.footer p {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer a {
  color: black;
  text-decoration: none;
}
.footer img {
  height: 50px;
}
.fab {
  color:white;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.fas {
  color:white;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.footer a {
  color: white;
  font-weight: bolder;

}

.footer a:hover{
  background-color: #f2bf27;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/* BUTTON */

.bouton {
  font-family: 'Roboto', sans-serif;
  padding:  5px 5px 5px 5px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;


}

button, button::after {
  width: 200px;
  height: 50px;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(45deg, transparent 5%, #F2BF27 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #f2bf27;
  outline: transparent;
  position: relative;
  font-weight: lighter;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #566B3C 3%, #566B3C 5%, #F2BF27 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #566B3C;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* CONTACT FORM */

input[type="text"],
input[type="email"],
textarea
{
    background-color: #fff;
    color: rgb(161, 137, 137);
    width: 80%;
    display: block;
    width: 100%;
    padding: 0.375rem 0.7rem;
    font-size: 1rem;
    line-height: 1.5; color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.contact-form p {
  padding-top: 10px;
  margin-bottom: 5px;

}

::placeholder {
  color: rgb(177, 171, 171);
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
}

#quote {
  font-size: 20px;
  padding: 10px;
}
