@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');


/* BODY STYLE */

.navbar {
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
  position: sticky;
  background-color: white;
}

.navbar img {
  width: 300px;
  position: center;

}

.menu {
  display: flex;
  flex-direction: inline;
  justify-content: space-around;
  background-color: white;
   color: black;
  text-decoration: none;

}

.menu a {
   color: black;
  text-decoration: none;

}


.menu li {
  display: flex;
  flex-direction: inline;
  justify-content: center;
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
  font-weight: lighter;
  color: black;
  text-decoration: none;

}

.menu ul:hover {
 font-weight: 500;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: black;
  text-decoration: none;
}

.menu ul {
  justify-content: center;
   color: black;
  text-decoration: none;

}

.main-container {
  margin-top: 200px;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;

}


h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #172601;
}

body h2 {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  color: black;
}

h4 {
  color: #172601;
  font-size: 17px;

}


.divider  {
   height: 150px;
}


.divider-black  {
  background-color: black;
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}


.description {
  text-align: justify;
}
/* SECTION BANNER */

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-image: linear-gradient(rgba(36, 70, 4, 0.4) 50%,rgba(238, 185, 10, 0.3) 80%), url("https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.banner h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;

}

.service h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
  color: #172601;
}


#green {
  background-color: green;
}
p {
  font-weight:lighter;
}

p mark {
  background-color: #f2bf2783;
  text-decoration: none;
  color: black;
}

p a {
  text-decoration: none;
  color: black;
}

p a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  margin-bottom: 15px;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


/* SECTIONS */


#test {

/* display: block;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 100px;
    padding: 30px 40px 50px;
    float: none; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 40px;
    background-color: #d8ffb6;
    text-align: left;
    cursor: auto;
}
.founder {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  width: 80%;
  font-weight: lighter;
  margin-left: 70px;
  align-items: center;
}

.signature {
  font-family: 'Mr De Haviland', cursive;
  font-size: 25px;
}

.photo-emd {
  display: flex;
}

.photo-emd img {
  width: 180px;
}

.hashtag {
font-size: 30px;
font-weight: lighter;
color: white;

}


.about h1 {
  padding: 30px 0 8px;
  position: relative;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.about h1::before {
  content: "";
  position: absolute;
  text-align: center;
  left: 28%;
  bottom: 5px;
  width: 200px;
  height: 20px;
  transform: skew(-2deg) translateX(100%);
  background: #f2bf27ad;
  z-index: -1;
}

/* SKILLS*/

.skills img {
  height: 50px;
}

.legend {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}


.logo img {
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}



/* CARD PORTFOLIO */

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  box-shadow: 0 0 60px rgba(0,0,0,0.7);
  transform: scale(1.2);
}



.card-category h6 {
  display: none;
  background-color: black;
  font-weight: lighter;
  font-size: 10px;
  padding: 5px;

}

.card-category:hover h6 {
  display: block;
  text-align: center;
  text-decoration: none;
}


.card-category:hover a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.card-category:hover h3 {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 16px;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }
}


.footer {
  background-color: black;
  color: white;
  list-style: none;
  padding: 20px 20px 20px 20px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer h3 {
  color: black;
}

.footer p {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer a {
  color: black;
  text-decoration: none;
}
